[2020-03-13 20:46] RichardLitt opened #2 "Add Twitter Cards"

[2020-03-13 20:46] RichardLitt opened #3 "Add Open Graph cards"

[2020-03-13 20:46] RichardLitt opened #4 "Add Google Analytics"

[2020-03-13 20:46] RichardLitt opened #5 "Add a newsletter to keep updated about FOSS and COVID-19"

[2020-03-14 00:07] RichardLitt opened #6 "Enable screen readers"

[2020-03-16 12:35] #4 closed

[2020-03-16 13:22] rachellawson opened #8 "Create buttons for "I want to help""
We probably need to look at buttons, equivalent to the "I want help" buttons, that link through to the OpenCollective options for funding the project. Should be able to drag these straight out of OC.

[2020-03-16 17:43] #2 closed

[2020-03-16 17:43] #3 closed

[2020-03-16 17:47] RichardLitt opened #10 "Get a better logo"
I don't like the sick emoji enough to use it in the Twitter cards or Facebook OG.

[2020-03-16 18:00] rachellawson commented on #8
I think we are ending up with a slightly "vague" content structure on front page, slowly. Will need a review of that.

Maybe something

- Can we help?
- Can you help us?
- Who is helping already? (this being in subcategories of time, talent, and treasure)
- Where else can I find help?

[2020-03-18 11:32] Erioldoesdesign commented on #10
I'm working on this :)

[2020-03-18 17:42] Erioldoesdesign commented on #10
Here's a .pdf of some sketches worked up in vector.
[Foss-responders-logos.pdf](https://github.com/foss-responders/fossresponders.com/files/4350451/Foss-responders-logos.pdf)

In the spirit of Open Source processes (but sadly not tooling) here's the .ai file so any other designers can play with the file too: https://drive.google.com/file/d/12a7F6epMbgkXFmoBmyEXkTvR_DH7l0kM/view?usp=sharing

[2020-03-18 17:53] Erioldoesdesign commented on #8
Hmm I've done app/services structures very much like this before and we went with this:

<img width="281" alt="Screen Shot 2019-02-06 at 01 21 52" src="https://user-images.githubusercontent.com/11681324/76991324-4c2c8c00-6941-11ea-94cc-811f42a9b516.png">
<img width="281" alt="Screen Shot 2019-02-06 at 01 22 55" src="https://user-images.githubusercontent.com/11681324/76991327-4e8ee600-6941-11ea-964

[2020-03-18 18:06] Erioldoesdesign commented on #8
How can I make some design progress on this? I'm happy to do some mock-ups/designs of what I think might be best UX wise but want to be compassionate to who is coding so I'm not ignoring limitations of the BE/FEsystem!

[2020-03-18 18:15] rachellawson commented on #8
I think there is a need to look at this, yes. Also the wide UX of the front page - needs to create a sense of “this is the real deal” to both those needing help AND those who can give

[2020-03-18 18:21] Erioldoesdesign commented on #8
@RichardLitt https://fossresponders.com/ is a github pages site right? Any other limitations that I should know about if I'm gonna do design stuff?

[2020-03-18 18:29] nuritzi opened #13 "Create a FOSS-Responders Discourse"
As part of the FOSS-Responders initiative, it'd be great to set up a Discourse instance.

We can then use this to post meeting notes for those interested in following our progress, and it can be a place where the community goes to support each other.

It looks like Discourse offers [free hosting for Open Source projects](https://blog.discourse.org/2018/11/free-hosting-for-open-source-v2/). We shou

[2020-03-18 18:36] nuritzi commented on #13
Adding some notes from @eriolfox on the Open Collective #crisis-working-group Slack that we can post once we have the discourse set up. I wasn't sure where to jot them down, so adding them here for now.

### Pro-bono design resources
 * [Open Source Design](https://discourse.opensourcedesign.net/) - For OSS design contributions you can ask for that here.
 * [Virtual Design Sprint](https://www.virt

[2020-03-18 18:38] nuritzi commented on #13
Michael Downey offered to help with Discourse on the foundations@ list. I'm in contact with him and we'll update this issue if we're able to move things forward together.

[2020-03-18 18:57] RichardLitt commented on #8
@Erioldoesdesign Yes, it is. Not sure there are any other limitations. Should've used Bootstrap, but didn't might redo it in Bootstrap at some point, for better ARIA stuff.

[2020-03-18 18:58] RichardLitt commented on #8
Send me any designs you got! This is fairly basic; I want to go with the best. If you have better ideas, let me implement them. :)

[2020-03-18 19:32] Memo-Es commented on #10
Hey! 👋🏼

Talking with Alyssa in the Slack channel she also asked for my help with this... I was telling her that I worked a couple of years ago inside a tech weekend regarding the emergency situation of Mexico City's earthquake in 2017. If it works I would gladly donate that design and modify it if needed.

<img width="372" alt="Screen Shot on 2020-03-17 at 14-12-24" src="https://user-images.githu

[2020-03-18 19:56] RichardLitt commented on #10
Thanks, @Memo-Es! While i like it, I think it works better with the name helping hands, and doesn't convert well to Foss responders.

@Erioldoesdesign Thank you for your time, too! I really like this one:

<img width="295" alt="Screen Shot 2020-03-18 at 15 55 18" src="https://user-images.githubusercontent.com/910753/77001836-f8b24200-6930-11ea-9154-2f942be45150.png">

I think this is pretty much p

[2020-03-18 20:06] Erioldoesdesign commented on #10
@Memo-Es Nice logo! but I suppose I don't know who has been given 'design authority' for decisions but I did say in a thread/the channel I'd work on this all today so if it'd been decided you'd work on it I missed that communication?

Should we try to work together on the design side of things? and it'd be nice if someone could clarify whether this project is 'open' or via private conversations or

[2020-03-18 20:11] RichardLitt commented on #10
@Erioldoesdesign We do not have a design authority. The best thing to do would be to bring this up at the meeting tomorrow, I feel, at 1300 EST (1700UTC I think). I can invite you to that, if you don't have an invite already.

This project is a bit of a mess in terms of delegation - Megan, Duane and I are actively working on that, and compartmentalizing things. I built the website and designed it,

[2020-03-18 20:25] Memo-Es commented on #10
Yes, @RichardLitt Alyssa mentioned that on Slack. As discussed privately with @Erioldoesdesign my intention is to work collaboratively on open work schemes. It is particularly challenging with design because there are no such frameworks (yet), but speaking specifically of this issue, my idea was that if that logo or any further contribution is useful to solve this problem would love to work with o

[2020-03-19 02:19] nuritzi opened #15 "Set up a Matrix bridge for Slack"
One of the pieces of feedback we've heard consistently from the FOSS community is that we should try to use more FOSS tools as we continue to respond to the COVID-19 crisis. In an effort to do this, and to allow people to have the option of using open source tools, we should set up a Matrix bridge to Slack.

### To-Dos
 * [ ] Create Matrix bridge to Slack
 * [ ] Post about the bridge on the websit

[2020-03-19 02:24] nuritzi commented on #15
Michael Downey and Matthew Hodgson responded to my request for help on Twitter and helped us set up a Matrix bridge. Michael tested it out and it seems to be working well.

## Matrix Bridge Info
 #fossresponders:matrix.org on the Matrix network

@RichardLitt can you please add this info to the website? If there's a way to get a one-click link so that people can join that Matrix room directly, that

[2020-03-19 11:48] Erioldoesdesign opened #17 "Create the 'Foss Responders' Personas that we serve"
We'd like to document in a collaborative and open way the people that we serve through FOSS responders in a kind of 'persona' format.

Info on 'user personas' I typically refer to:
https://uxplanet.org/how-to-create-personas-step-by-step-guide-303d7b0d81b4
https://www.nngroup.com/topic/personas/
https://www.interaction-design.org/literature/article/personas-why-and-how-you-should-use-them

Off the

[2020-03-19 17:40] Erioldoesdesign commented on #17
Via the meeting today additional personas could be:

- People/organisations that want to offer non-financial support but support from a services/skills pov

[2020-03-19 18:20] Erioldoesdesign opened #19 "Replace current favicon with a less scary favicon"
The current mask-wearing emoji is not very nice!

![Screenshot 2020-03-19 at 17 55 33](https://user-images.githubusercontent.com/11681324/77098812-e0165a80-6a0a-11ea-8be2-d582e129a955.png)

Let's do a better favicon that follows on our branding once decided.

Blocked by #10

[2020-03-19 18:25] awright commented on #17
I think you capture this here, though it's a little hard for me to parse. For me, I see two general "buckets" of personas with more nuance within each one.

The first group are those who need help and the second group are those wanting to give. Within each bucket are both individuals and organizations.

(I will copy and paste the 4 you outline here with inline comments.)

[2020-03-19 19:03] awright commented on #17
The individual request is not necessarily or solely due to conference cancellations. It might be because a person's work dried up because their employer needed to make cutbacks. The economic breadth of the coronavirus response has a much larger footprint than conferences (e.g., my brother had to lay off 5 employees from his open source law company this week). Do we want to capture and speak to tho

[2020-03-19 19:11] awright commented on #10
love them @Erioldoesdesign !! though the one @RichardLitt called out reminds me too much of blockchain -- which has forever changed my read of any decentralized connectivity aesthetic.

i rather like the more geometric designs as seen here:

<img width="234" alt="Screen Shot 2020-03-19 at 12 05 33 PM" src="https://user-images.githubusercontent.com/78410/77105110-56e72f80-69da-11ea-87dc-4885971af5c

[2020-03-19 22:12] tmurso opened #20 "Clarify who we serve on fossresponders.com"
Let's make it exceptionally clear who this initiative is meant to support so people who come to the site understand if this is for them and what to do if it's not.

[2020-03-20 04:07] nuritzi commented on #10
Thanks for your help making these @Memo-Es! I'm impressed by how you turned the hand drawn illustrations into digital so quickly. You designers are magicians! :)

I saw that you added a note to the PDF that said that you were looking for a partner to help. I've contacted someone I know to see if they'd be able to help. Will bring her in this discussion if she has bandwidth.

I really love your art

[2020-03-20 07:16] DuaneOBrien commented on #10
+1 to finding the right balance of Approachable and Trustworthy.

Of the designs in the PDF, I like the smiling figures and the larger figures the least. They feel closer to a youth-focused initiative.

This is my favorite of the list so far.

<img width="361" alt="Screen Shot 2020-03-20 at 12 06 03 AM" src="https://user-images.githubusercontent.com/4315550/77143134-85e3bc80-6a3f-11ea-8fe0-8597535

[2020-03-20 08:51] Erioldoesdesign commented on #10
@nuritzi the only thing regarding tone that was discussed was via a slack thread that Alyssa started where I asked about the focus beyond the mission statement and I remember receiving friendly and approachable and happy. Along with some imagery from free icon sites.

Logos should always Ideally work in gray/black as well as full-colour scales and that's why these brands above tend to have one to

[2020-03-20 11:15] RichardLitt opened #21 "Add Aspiration to sponsors list"
I should also start adding logos.

[2020-03-20 18:27] DuaneOBrien commented on #13
Recommend transferring this issue to https://github.com/foss-responders/about/ so that we can keep this repo focused on Website issues.

[2020-03-20 18:40] nuritzi commented on #13
@DuaneOBrien sure, do you know how to do that? Can we just move it, or do we have to close and re-open?

Thanks for the suggestion!

[2020-03-21 00:54] nuritzi commented on #10
@Erioldoesdesign Thanks for the response! Yeah, I agree that we shouldn't have a brand that looks bureaucratic or overly established.

I also agree that the logo should look good in one color, and in addition, I think it should look good when it's small (so something simple is good rather than overly detailed).

As I mentioned in chat, I can see if I can pull in another designer if needed (she has

[2020-03-21 04:13] Erioldoesdesign commented on #10
I was speaking with another designer that was asked to pitch in via a different comms methods and they suggested some logos which were more visually towards using:

Hands, hearts and crosses.

Do we feel strongly for or against including or doing some treatments with hands/hearts/crosses?

[2020-03-21 05:04] awright commented on #10
i love the alignment around tone (and the exercise more generally
nuritizi!) and think much of what you sketched eriol captures the 3
anchors. for me i see *Trust* in the organized geometry, *Approachability* in
the color palette; and *Inspiration* in the connection of community.

i would also be happy to see ideas and inspirations from your designer
friend! i will say that what you've already mad

[2020-03-23 16:39] Erioldoesdesign commented on #10
Here were the designs from Marie (via telegram messaging)

![IMG_20200323_162301_229](https://user-images.githubusercontent.com/11681324/77340112-bcae2100-6d24-11ea-88c2-b3577d89554a.jpg)

I like the hearts and some of the compositions here but I think it's best we stay away from the cross for several reasons including Red Cross associations, healthcare and religious connotations.

Some more logos

[2020-03-23 17:03] awright commented on #10
Thank you! And totally agreed. ;)

On Mon, Mar 23, 2020 at 9:39 AM Eriol Fox <notifications@github.com> wrote:

[2020-03-23 18:47] awright commented on #17
I think I'm getting a better sense of the personas we're serving. Our focus, at least for the moment, seems to be 1) organizations with lost revenue due to cancelled or changed event and 2) individual contributors effected by such event change.

[2020-03-23 20:20] nuritzi commented on #13
Per @downeymj: (https://github.com/foss-responders/about/issues/7#issuecomment-601903599)

[2020-03-24 01:17] nuritzi commented on #13
Here are my notes from my meeting with @downeymj on Friday. Michael, please feel free to clarify if I missed anything!

## 2020-03-20 Notes | Michael <> Nuritzi

### Timeframe
 * Plan for supporting the FOSS community through this initiative for 18 months (based on current WHO predictions)

There may be similar types of groups popping up, so we might want to keep in mind merging efforts with someo

[2020-03-24 01:19] nuritzi commented on #13
@downeymj just an FYI that I'm going to wait until tomorrow to see if we can get the URL sorted before we start. Plus, tomorrow I'll be speaking with one of the people you connected me to, so can get his input too before I start creating things.

Will send you the link to the discourse instance asap once it's set up!

[2020-03-24 20:41] nuritzi commented on #13
@downeymj: Richard just helped us set up the URL (Thanks, @RichardLitt!), so we now have the instance running on: https://community.fossresponders.com/

I haven't done much customization yet, so it's not quite ready to "launch" aka be linked to from the website. Michael - are you able to ping the Discourse people about its free trial status now, or would you prefer to wait?

I'll update this threa

[2020-03-25 04:53] nuritzi commented on #13
Just an update: thanks to Tobias, the Discourse instance is in much better shape and pretty close to being ready to launch more publicly. We've started to [request feedback on the current categories](https://community.fossresponders.com/t/what-categories-and-subcategories-should-we-add/35).

Next, I want to talk to some of the people from the working group about processes/workflow/tools, as Yaw su

[2020-03-25 10:42] Erioldoesdesign commented on #10
Logo files updated with some developed versions of logos! please check them out :)

https://drive.google.com/open?id=1gZ7yOn8JPCgKeNllx_jvswfcb5RUUXS0

[2020-03-25 10:59] Erioldoesdesign commented on #20
Pretty sure this will be linked to the 'Personas' issue #17

[2020-03-25 11:31] rachellawson commented on #10
Agree on staying away from the cross - if only because it is relevant in only a part of the world. (see Red Crescent)

[2020-03-25 14:48] awright commented on #10
thanks eriol! they are great! when we’re done with all this can you work in
my own logo? #kidding

i like the 2 attached the most. i think it’s important to have people front
and center.  and i appreciate the lines of connection among them/us. also,
i love the diversity of colors and faces. not first responders, we are FOSS
responders. go team!

On Wed, Mar 25, 2020 at 3:42 AM Eriol Fox <notificat

[2020-03-25 14:54] Erioldoesdesign commented on #10
@awright I think because you replied via email I can't see the attachments you are referencing?

Would you mind adding them again via a browser? thanks!

haha always happy to help folks out with design stuff :)

[2020-03-25 15:06] awright commented on #10
ha! sorry about that. here are the 2 i enjoy the most!
![8NCS19v3TbG%OXaqf49ytw_thumb_271a](https://user-images.githubusercontent.com/78410/77551292-66012e00-6e6f-11ea-9ce6-89fd6083c355.jpg)

(let me know if there is any problem.)

[2020-03-25 16:19] nuritzi commented on #10
I still think that we need to make sure that the logo is simple and also looks really good when it's small. I think that's the beauty behind logos like Open Collective's.

![Screen Shot 2020-03-25 at 9 01 33 AM](https://user-images.githubusercontent.com/61520385/77557794-66052c00-6e77-11ea-9cc6-84679fdac367.png)

## For example

### It should fit easily and neatly into a top bar

![Screen Shot 202

[2020-03-25 16:39] awright commented on #10
Really good points @nuritzi ! For me, the people in the logo is a really important part of the work. But I empathize with your points and would love to hear from others too!

I am sure @Erioldoesdesign has much better insight, but to address one of the issues -- what if the favicon was a single/or double person?
<img width="1027" alt="Screen Shot 2020-03-25 at 9 37 06 AM" src="https://user-images.

[2020-03-25 17:24] nuritzi commented on #10
@awright  I like what you've done there, and if we decide on that one, I think that's a great favicon to go with :)

**If we go with this, can we explore:**
 * How would this style look as a horizontal logo that fits into a top bar?
 * Will it look good without multiple colors? I think we should consider a logo that looks good with minimal colors (e.g. if you have to print it in black and white on

[2020-03-25 17:39] Erioldoesdesign commented on #10
There's no reason that something like these:

![image](https://user-images.githubusercontent.com/11681324/77560284-2a895280-6eb5-11ea-99ac-c6b1d1824448.png)

Can't be used as brand/identity devices as well as something like this for a logo:
![image](https://user-images.githubusercontent.com/11681324/77560329-3b39c880-6eb5-11ea-9e68-47de4763978f.png)

All I would say is a heart in an 'o' isn't a un

[2020-03-25 17:44] Erioldoesdesign commented on #10
Because I've spent around 4 days of my time working on a logo/identity for something and I'm still feeling like I'm spinning in a circle on.

So perhaps I need to hand off to someone who has a different perspective or I need to know, as a designer I can give my informed recommendation on what this should be and go with that?

[2020-03-25 18:09] nuritzi commented on #10
@Erioldoesdesign thanks for doing the mockups, that helped a lot. Sorry for any frustration I've caused you, I haven't had as much experience with seeing complex designs get simplified. I think what you and Alyssa showed was really helpful. So, thanks for that!

We do have a case for using the logo in a top bar. We've created a Discourse instance and I'll be presenting to the group how we might us

[2020-03-25 18:30] nuritzi commented on #10
Oh, and I just wanted to add this comment to explicitly respond to the question you asked @Erioldoesdesign  --  seeing the horizontal treatments and how you can simplify the logo according to the medium really helped address some of the considerations I brought up. Thanks!

[2020-03-25 18:33] RichardLitt commented on #10
Lots going on in this thread! Thank you, @Erioldoesdesign and @nuritzi and @awright for your work.

@Erioldoesdesign: I think you're the most experienced person here with designs, and I love the designs you have (in particular, [these](https://github.com/foss-responders/fossresponders.com/issues/10#issuecomment-603893218)). We do not have anyone who can give a sign off on designs, because this isn

[2020-03-25 18:37] DuaneOBrien commented on #10
Chiming in a little late on this one this morning with a couple comments.

My clear preference is for this design

![Screen Shot 2020-03-25 at 11 30 10 AM](https://user-images.githubusercontent.com/4315550/77572381-1aa94880-6e8c-11ea-829e-bf2672bd8585.png)

The way the background connections form a sort of safety net really resonated with me.

@Erioldoesdesign these are great, and I'm really grate

[2020-03-26 17:58] Erioldoesdesign opened #22 "Create social media graphics/banners/icons"
Adapt the brand/logo imagery to work across our needed social media accounts. These should be RGB/screen ready images

Help this issue by adding the following info in comments:

- Social media platform name & link e.g. twitter.com/fossresponders
- Assets needed (Icon, Profile image, banner, other visuals etc.)
- Sizes recommended on the platform e.g. (360px by 400px)
- Who has login access to chan

[2020-03-28 01:18] Erioldoesdesign commented on #10
Okay, cool cool, I think in general we like people, connection lines and the large type.

We can close this ticket as we've picked a good direction to build other logo orientations from and what we really need now are tickets related to specific uses of the logo e.g. 'Logo for discourse' 'logo for  twitter' 'Logo on transparent background for general use'

[2020-03-28 01:59] nuritzi opened #23 "Create design assets for Discourse"
@Erioldoesdesign -- as per your request on issue #10, I'm opening an issue for assets now that we've decided on branding. Can you please help create some assets for Discourse?

I've copy and pasted all of the options they give. I think it's fine to just update the ones you think will make the most impact, especially if you're short on time.

Also, do you have a list of colors we'll use for brandin

[2020-03-28 23:20] Erioldoesdesign commented on #8
Okay so this is definitely not 'just' the two sections of the web page but more a look at how Foss responders could layout it's information alongside an 'identity'

Please find the adobe xd prototype link here: https://xd.adobe.com/view/8e9576cb-18da-4d9f-58b8-7d00d753377f-f8a4/

If you click the little </> icon on the right you'll get 'developer info' like hex codes etc.

All blue links and butto

[2020-03-28 23:28] Erioldoesdesign commented on #19
Okay @RichardLitt here are two Favicon options...I have a feeling the single figure will work best at 16x16px...which is tricky because the two figures work at bigger sizes like 32x32px! argh!

https://drive.google.com/open?id=10ZI4FgZfh1h2LTxwboNPQN0hyb7_PSi9

Can you see what you think is best and go with that?

[2020-03-28 23:31] Erioldoesdesign commented on #10
![Logo - 270x790 px](https://user-images.githubusercontent.com/11681324/77836209-23c83d00-714c-11ea-8de8-1cdcaa817739.png)

Here's a standard-ish Logo size at 270x790 px

[2020-03-28 23:33] Erioldoesdesign commented on #8
Also a folder with various useful files?

https://drive.google.com/drive/folders/185aEK0vOxGMB_773kGdQvPa0CU6dmPIj?usp=sharing

[2020-03-30 10:09] Erioldoesdesign commented on #20
Also pretty sure this is served by the website layout design in issue #8

Prototype links here: https://xd.adobe.com/view/8e9576cb-18da-4d9f-58b8-7d00d753377f-f8a4/

[2020-03-30 14:47] RichardLitt commented on #8
This is great, @Erioldoesdesign! I love these designs.

The messaging does need to be tightened. Along with @awright, I've talked to Megan about aligning the current content to our messaging doc. I'll take a stab at the content for this. If I understand, you'll hold off on redesigning specifically, and me in implementing that design, until this is done, correct?

[2020-03-30 15:13] Erioldoesdesign commented on #8
1000% happy to pass on the content structure/IA to yourself, Megan and Alyssa.

Hopefully, this design is flexible enough that It could have more/different content/copy injected or new sections below the needs/offers sections but let me know if anything is particularly tricky to work in and needs a design eye. So please go for it unless you need me

[2020-03-30 15:24] RichardLitt commented on #19
I think we can use the one-figure for the smaller res, and the rest for everything else.

Can you remake these with a transparent background, instead of a white one?

[2020-03-30 15:24] RichardLitt commented on #19
Also, of course, great work. :)

[2020-03-30 17:38] #15 closed

[2020-03-30 17:38] RichardLitt commented on #15
Done! Thank you.

[2020-03-30 17:38] RichardLitt commented on #13
I believe that this can be closed. Thank you, @nuritzi for driving this!

[2020-03-30 17:38] #13 closed

[2020-03-30 17:39] Erioldoesdesign commented on #19
Doh! I didn't even notice the white background. Changed the files and removed white bg: https://drive.google.com/drive/folders/10ZI4FgZfh1h2LTxwboNPQN0hyb7_PSi9?usp=sharing

[2020-03-30 17:39] RichardLitt opened #24 "Add an FAQ"
See #18.

[2020-03-30 17:44] RichardLitt commented on #24
Closed in #18.

[2020-03-30 17:44] #24 closed

[2020-03-30 17:51] Erioldoesdesign commented on #23
Okay just finished making these sizes on the XD link and just exporting now!
https://xd.adobe.com/view/8e9576cb-18da-4d9f-58b8-7d00d753377f-f8a4/

Generally I'm going to export with white backgrounds so please let me know if we need transparent .png 's

Will put in this folder: https://drive.google.com/drive/folders/1lYBWCiidYTf_CIavqKe4l05HC5llmys7?usp=sharing

[2020-03-31 11:30] Erioldoesdesign opened #25 "Created new branded creative for codefund advert"
Change the creative:
![image](https://user-images.githubusercontent.com/11681324/78021516-483e3800-734b-11ea-811e-8ce8bbbbbfd6.png)

To the new branding/identity in #10

Specs located here on page 6: http://codefund.io.s3.amazonaws.com/assets/codefund-advertiser-kit-q2-2020.pdf

<img width="713" alt="Screenshot 2020-03-31 at 12 29 55" src="https://user-images.githubusercontent.com/11681324/7802160

[2020-03-31 19:07] Erioldoesdesign commented on #25
All codefund creative here: https://drive.google.com/drive/folders/1W2yFoui819Jw-644KNi_mIs4Ik-xmw4j?usp=sharing

[2020-04-02 15:46] Erioldoesdesign commented on #25
![image](https://user-images.githubusercontent.com/11681324/78269462-88471b80-7501-11ea-807a-3eecc1cf169c.png)

Via Eric Berry : This ad has had 216k views with 463 clicks

[2020-04-02 15:46] #25 closed

[2020-04-02 15:47] Erioldoesdesign commented on #23
Can this issue be closed? @nuritzi

[2020-04-02 15:48] Erioldoesdesign commented on #19
Good to close? @RichardLitt

[2020-04-02 16:36] RichardLitt commented on #19
I'd say no, at the moment. Changed the favicon, now. However, I'm unsure on the latest headers needed for all of the variants. What tool did you use to generate them? Any chance it gives guidance on the correct html tag for each?

[2020-04-02 16:50] RichardLitt commented on #19
That's a different issue. Making a new issue for it.

[2020-04-02 16:50] #19 closed

[2020-04-02 16:50] RichardLitt opened #26 "Optimize favicons"
Right now, only one favicon is implemented. However, there are other kinds we could add, which we already have the asset files for. Add them to the header.

[2020-04-02 16:56] Erioldoesdesign commented on #19
@RichardLitt Used this one: https://www.favicon-generator.org/

[2020-04-02 17:47] Erioldoesdesign opened #27 "Change github repo icon/picture from the scary mask icon to the new logo"
Swap out this:
<img width="857" alt="Screenshot 2020-04-02 at 18 46 30" src="https://user-images.githubusercontent.com/11681324/78281251-4c688200-7512-11ea-97f5-0d6926fd7899.png">

For a logo located here:
https://drive.google.com/drive/folders/1lYBWCiidYTf_CIavqKe4l05HC5llmys7?usp=sharing

Looking like this:
![Logo - 256x256px - Open collective - 1](https://user-images.githubusercontent.com/11681

[2020-04-06 15:45] RichardLitt opened #29 "Integrate link checking"
Right now, there's no validators.

Same goes for Markdown validators.

[2020-04-06 15:45] RichardLitt opened #30 "Add a logo section with logos"
The logos should have their own section. While this can wait until the redesign, some logos could be added now in their own rows.

[2020-04-06 15:48] RichardLitt commented on #21
Superseded by #30.

[2020-04-06 15:48] #21 closed

[2020-04-06 15:49] RichardLitt opened #31 "Add a Terms of Service and Privacy page"
For now, use boilerplate, or find some generic terms. In particular, I want to make this compliant in the EU, and I don't know the laws there around that (GDPR).

Adding the ability to have a terms page in a PR would be great.

[2020-04-06 15:50] RichardLitt opened #32 "Enable the blog"
A PR which showcases three lorem ipsum blogs would be great.

[2020-04-06 15:52] RichardLitt commented on #10
TODO: Add the logo https://drive.google.com/file/d/1BJdkdKyJZb5GMR9s2ZocMXM22ms_HSZh/view?usp=sharing to the website as a header, above the three buttons.

[2020-04-06 15:52] RichardLitt opened #33 "Change colors"
Change the base colors to

#7BC9AC
#FF62A0
#58B2E4
#FFDD57

And implement across site.

[2020-04-06 16:27] #10 closed

[2020-04-06 16:29] RichardLitt opened #35 "Fix gulp and image pipeline"
I've been using gulp to decrease the size and to optimize images. However, I think this is an out of date way of doing things, and my current `gulp` process is broken when I run `npm i && gulp`. I'd like to have a better way of optimizing images, in general, and moving them from the `img/src` folder to just `img`. Any help here would be appreciated.

[2020-04-06 17:29] Erioldoesdesign opened #36 "Create the blog page design for fossresponders.com"
Fossresponders are looking to cross-post blog content to their site and require a new page design/layout for articles/blog pieces.

Developers will implement the blog in Jekyll.

This is the first article that will be cross-posted:
https://engineering.indeedblog.com/blog/2020/03/support-the-oss-community/

The blog pages should layout text well, readable with appropriate headings and ability to sh

[2020-04-06 19:01] Erioldoesdesign opened #37 "Create the FAQ page design for fossresponders.com"
fossresponders.com will have a separate page with the frequently asked questions.

This page requires a new/different layout style than the main page and blog/article page. It should be focussed on the question/answers and a process in which to submit a question that hasn't already been asked/answered.

For the FAQS the layout text well, readable with appropriate headings and question to answer co

[2020-04-07 16:53] justwheel commented on #29
Maybe you already know about this, but [html-proofer](https://github.com/gjtorikian/html-proofer) is reaaaally nice for this. I integrated it into a Jekyll Travis CI pipeline over here:

https://github.com/FOSSRIT/fossrit.github.io/blob/81228b4276588b336af332943bdc9951cc4a4b68/Rakefile

[2020-04-07 16:58] nuritzi commented on #37
I thought that during the [website subgroup meeting we decided on discourse for the FAQ](https://docs.google.com/document/d/1KRqxX_vRZnnc_vuE5qMcvpcbl_DOPgEaiKNKznpvuA8/edit). If not, that's fine! I created a "[Funding QA](https://fossresponders.discourse.group/c/resources/funding/10)" subcategory but am holding off from adding anything to it in case we decide not to use discourse. Just let me kno

[2020-04-07 17:06] RichardLitt commented on #29
Yep! Would be sweet to integrate that, here. This issue was opened for me to look into it.

[2020-04-07 17:20] nuritzi opened #40 "Redirect old URL to new URL for Discourse"
We applied for a free discourse instance since our trial was running out and they granted it to us because we qualified for their Discourse for Open Source program + Michael Downey helped introduce us to the team.

The transition went smoothly but since it's a free instance that's hosted on Discourse, they require us to use a subdomain: fossresponders.discourse.group

Can someone please help to re

[2020-04-07 17:33] nuritzi opened #41 "Set up authentication on Discourse"
Whoever sets up the ‘official’ twitter, google and github accounts for fossresponders should be able to set up the logins, or else Tobias can help if we give him the logins.

@RichardLitt let me know what you prefer. I think that you're the only one with the login info for official accounts as of now, right? Tobias has offered to either walk you through it on a video call, or else do it himself if

[2020-04-07 18:47] awright commented on #37
Is the FAQ for funding or about the FOSS Responders group? Either way, it
makes sense to put Funding question it in Discourse. That way others can
add funding resources as they see fit.

And we keep the website FAQ specific to the overarching mechanism of the
foss responders working group.

On Tue, Apr 7, 2020 at 9:59 AM nuritzi <notifications@github.com> wrote:

[2020-04-07 22:20] RichardLitt commented on #40
This should be done. Let me know if this can be closed and it works!

[2020-04-08 01:59] RichardLitt commented on #36
First PR open in #42. Needs design.

Requirements: show blog author(s) with links out to their pages. Otherwise, use your discretion, I think.

[2020-04-08 01:59] RichardLitt commented on #36
Part of #32.

[2020-04-08 15:01] nuritzi commented on #40
@RichardLitt that seems to have worked. Thank you!

Closing this issue as complete.

[2020-04-08 15:06] RichardLitt commented on #40
I'm getting weird redirect errors at the moment. Hmm. Will have to look into it! Are you not, for https://community.fossresponders.com/?

[2020-04-08 15:11] nuritzi commented on #40
Strange! I was getting weird errors yesterday, but today it seems to be working fine. I'm using Chrome as my browser.

Maybe someone else can test too? @ognarb do you mind testing it out -- see any errors when you try to go to https://community.fossresponders.com/ ?

[2020-04-09 16:25] Erioldoesdesign commented on #8
Website homepage updated to reflect the info in this doc: https://docs.google.com/document/d/1KRqxX_vRZnnc_vuE5qMcvpcbl_DOPgEaiKNKznpvuA8/edit?ts=5e8619b3#

Here's the Adobe XD prototype link: https://xd.adobe.com/view/8e9576cb-18da-4d9f-58b8-7d00d753377f-f8a4/

[2020-04-09 17:06] alisonjudy commented on #36
Hi Eriol, can we add a section that allows for us to create categories? Thanks!

[2020-04-09 17:16] RichardLitt commented on #36
Categories can be made easily on the back end in the draft. However, a section for displaying these and sorting by them would be great!

[2020-04-09 17:35] RichardLitt commented on #40
Emailed Hover about it. Let's see!

[2020-04-10 10:59] Erioldoesdesign commented on #36
Progress links:
https://www.figma.com/file/eqiXamWjAerrBr4ajtLf5Z/foss-responders?node-id=26%3A132
https://www.figma.com/proto/eqiXamWjAerrBr4ajtLf5Z/foss-responders?node-id=23%3A919&viewport=-963%2C54%2C0.13521051406860352&scaling=min-zoom

Feeding back on these by 12/04/20

[2020-04-10 11:26] Erioldoesdesign commented on #27
Actioned!

[2020-04-10 11:26] #27 closed

[2020-04-10 21:22] awright commented on #36
i really like them! are there differences we should be responding to? they
all look great to me ;)

On Fri, Apr 10, 2020 at 3:59 AM Eriol Fox <notifications@github.com> wrote:

[2020-04-10 21:37] alisonjudy commented on #36
LGTM. The only thing I would add is a twitter logo at the bottom of the page in the footer so we could link there.

[2020-04-11 11:32] Erioldoesdesign commented on #37
The decision from Nuritzi and Richards meeting on Thursday 9th after the regular meeting was to still have  static FAQ page on the website because this reiterates the 'authority' of that FAQs and limits community members from answering questions via discourse 'unofficially' however, we will also have a FAQs section on discourse to capture community questions and any questions that crop up via any

[2020-04-11 11:53] #23 closed

[2020-04-12 11:26] Erioldoesdesign commented on #5
I could put together a coded newsletter template or happy to construct one if we're using Mailchimp or something similar.

[2020-04-12 11:26] Erioldoesdesign commented on #8
I *think* we can close this as this ticket led to the 'design' of the homepage which has now been split into dev tickets?

[2020-04-12 11:26] #8 closed

[2020-04-13 12:28] RichardLitt commented on #8
I agree with that assumption. Thanks, @Erioldoesdesign.

[2020-04-13 12:29] RichardLitt commented on #5
At the moment, we don't have the newsletter set up. I can sign us up for a Mailchimp, but I want to ensure that it'll be used before going through that effort. I'll bring this up with the communications team today.

[2020-04-13 18:53] alisonjudy opened #44 "Create graphics for social media"
Twitter graphics:

Static images:
- [x] profile photo: 200x200
- [x] cover image: 1500x500

Photo templates all 1024x512:
- [x] blogs
- [x] press releases
- [x] events
- [x] apply for help
- [x] donate

[2020-04-13 19:32] Erioldoesdesign commented on #22
Closing in favour of @alisonjudy's issue #44

[2020-04-13 19:32] #22 closed

[2020-04-13 19:58] Erioldoesdesign commented on #44
@alisonjudy for the photo templates, do the graphics need to have those titles in text? I'm a bit confused what the photo templates are for/ in reference to?

Here's the twitter graphics though!
![Twitter Profile 200 x 200](https://user-images.githubusercontent.com/11681324/79155683-697e3a00-7dc9-11ea-88af-0d58838439c1.png)
![Twitter rectangle 1500x500 px](https://user-images.githubusercontent.com

[2020-04-13 22:12] alisonjudy commented on #44
Thanks @Erioldoesdesign! It might be easier to do a quick zoom to discuss the other graphics (those can be backburner for now.)

For the profile picture can we get one that will fit a little more nicely in a circle? Here's a screenshot of the twitter profile:

<img width="547" alt="Screen Shot 2020-04-13 at 3 09 37 PM" src="https://user-images.githubusercontent.com/22965526/79165954-0aa0cc80-7d99-

[2020-04-14 18:02] RichardLitt commented on #36
@ognarb Want to help with this?

[2020-04-14 21:25] CarlSchwan commented on #36
yes :) what design should I implement and how should it look on mobile?

[2020-04-14 21:45] ognarb opened #47 "Stop supporting Internet explorer < 11"
I don't think we need to support Internet Explorer < 11.

[2020-04-14 23:12] CarlSchwan commented on #36
I started working on it in https://github.com/foss-responders/fossresponders.com/pull/49

Note that a search bar won't be possible, at least not without an external service.

[2020-04-15 01:21] RichardLitt commented on #36
Awesome! Thank you. See the design, above. Also, make sure to work off of my branch in #46 - I added Bootstrap. :)

[2020-04-16 10:32] RichardLitt commented on #47
Are there choices being made that currently demand that we support that?

[2020-04-16 10:33] RichardLitt commented on #40
Update: Hover and Netlify are arguing about who is at fault. Still not sure how to resolve this. Working on it.

[2020-04-16 13:15] RichardLitt opened #51 "Redesign website"

[2020-04-16 13:26] #51 closed

[2020-04-16 13:26] RichardLitt opened #52 "Embed the Conferences airtable"
This is missing completely from the current website! Let's work on getting it back in.

[2020-04-16 13:27] RichardLitt opened #53 "Add in hr designs"
Right now, the horizontal rules lack the little icons on the end. I need the assets for these. These should also be added more proficiently to the list items.

[2020-04-16 13:28] RichardLitt opened #54 "Re-add the Blog section"
Waiting on #36.

[2020-04-16 13:28] RichardLitt opened #55 "Add dashed designs behind OC button"
I need the assets for these from @erioldoesdesign.

[2020-04-16 13:29] RichardLitt opened #56 "Link logos to sites"
The logos could easily be linked to the sites they represent.

[2020-04-16 13:29] RichardLitt opened #57 "Add an FAQ page"
Waiting on designs. Depends on #37.

[2020-04-16 13:29] RichardLitt opened #58 "Add a Privacy page"
We need better terms. I removed it, for now.

[2020-04-16 13:30] RichardLitt opened #59 "Add a Twitter button in footer"
@erioldoesdesigns where did these icons come from? Can I get a Twitter one?

[2020-04-16 13:30] RichardLitt opened #60 "Optimize anchors in footer"
We could slow move to them, as we do with the 'Back to Top' button.

[2020-04-16 13:31] RichardLitt opened #61 "Add hover and click states"
Right now, all of the buttons are static. I couldn't figure out how to get these colors from the design doc. @erioldoesdesign any ideas?

[2020-04-16 13:31] RichardLitt opened #62 "Debate adding in world and heart images on mobile"
I removed them as they were adding clutter to the mobile view. I think I can figure out where to put them back in, now, but advice would be good.

[2020-04-16 13:32] RichardLitt opened #63 "Validate links"

[2020-04-16 13:33] RichardLitt opened #64 "Check for load issues"
Google has a site to check these things, for instance.

[2020-04-16 13:33] RichardLitt opened #65 "Optimize images"
This should be done before uploading or rendering by Jekyll.

[2020-04-16 13:34] RichardLitt opened #66 "Add jekyll-assets plugin"
Right now, the Privacy page was removed partially because the asset path changes for images on secondary pages. We need an asset manager. Jekyll-asset should work. This will be important for the blog, too.

[2020-04-16 13:34] RichardLitt opened #67 "Check on other browsers"
Browserstack, anyone?

[2020-04-16 13:34] rachellawson commented on #58
Added to today's agenda for Shirley Bailes, anyway - she is looking into content

[2020-04-16 13:35] RichardLitt opened #68 "Debate color switches for toggles on first two Offer Help buttons"
I think that the colors are off, but this was as designed. Should I switch them?

[2020-04-16 13:37] RichardLitt commented on #58
Thanks!

[2020-04-16 15:02] suehle commented on #63
The link on the main page to the May event is broken because it was copied from Slack and came along with the Slack redirect info.

[2020-04-16 15:07] RichardLitt commented on #63
Thanks for the manual validation! Fixed.

This issue should be closed when we have an automatic link validator set up.

[2020-04-16 15:15] suehle commented on #63
I certainly have no aspirations to take the place of a validator. :) I just ran into that one when I tried to refer someone to it. Thanks!

[2020-04-16 17:16] RichardLitt opened #69 "Add an event banner for the May 1 event"
As needed.

[2020-04-16 18:11] awright commented on #69
YAY!!! Now we just need to make the event.... ;)

On Thu, Apr 16, 2020 at 10:16 AM Richard Littauer <notifications@github.com>
wrote:

[2020-04-17 11:51] Erioldoesdesign commented on #36
@jaysethi can you please support @ognarb as this build develops?

[2020-04-17 11:55] Erioldoesdesign commented on #44
![Twitter Profile 200 x 200](https://user-images.githubusercontent.com/11681324/79566570-b05e7f00-80aa-11ea-9476-88284421002a.png)
Updated! :) @alisonjudy sorry for the delay!

[2020-04-17 12:19] jaysethi commented on #36
Hi yes of course, I'm on it

[2020-04-17 15:42] RichardLitt commented on #23
Thanks, @Erioldoesdesign :)

[2020-04-17 15:43] RichardLitt commented on #37
Sounds about right to me. I can re-enable as soon as I have a design, @Erioldoesdesign :)

[2020-04-17 15:43] RichardLitt commented on #20
I think we got this.

[2020-04-17 15:43] #20 closed

[2020-04-17 15:44] RichardLitt commented on #17
Pretty sure we got this, too.

[2020-04-17 15:44] #17 closed

[2020-04-17 18:27] alisonjudy commented on #44
Thanks @Erioldoesdesign this looks great!!

[2020-04-18 18:41] Erioldoesdesign commented on #55
![need-help-title-underline](https://user-images.githubusercontent.com/11681324/79662369-78d7fb80-81ac-11ea-8315-0c5ef9a717ee.png)
![offer-help-title-underline](https://user-images.githubusercontent.com/11681324/79662383-79709200-81ac-11ea-9552-3a9b1fe99454.png)

Also here:https://drive.google.com/drive/folders/1rakP56NR9x90VVZo0cxufNy90bXHM-Nh?usp=sharing

[2020-04-18 18:57] Erioldoesdesign commented on #61
Hover states should be outlines like this kind of like the original:

<img width="632" alt="Screenshot 2020-04-18 at 19 45 27" src="https://user-images.githubusercontent.com/11681324/79665280-4da1dc00-81ad-11ea-9b5e-6f099c5f7419.png">

The border thickness is 2px

The hex colour codes you need are:

Blue = #2292CE
Pink = #ED4789
Green = #7BC9AC
Yellow = #FFDD57

Blue and Pink buttons have #FFF whi

[2020-04-18 20:47] Erioldoesdesign commented on #59
Font awesome! here ya go:
https://fontawesome.com/icons/twitter-square?style=brands

However, not all of the font awesome icons are in these neat little squares, like discourse: https://fontawesome.com/icons/discourse?style=brands

So I had to make that one and why I uploaded those to the design assets folder in my drive:
https://drive.google.com/drive/folders/1ziiGUYj4SCfaGQ-duvQycK4oluGnZJEg?usp

[2020-04-19 17:29] Erioldoesdesign commented on #69
@awright By 'banner' do you mean a graphical banner? You need me on this?

[2020-04-20 14:36] awright commented on #69
we want to announce the may 22nd event higher up on the website. @RichardLitt suggested a banner, which he said he could implement rather roughly in the short term but would be great to have something nicer in the longer term. thoughts all?

[2020-04-20 14:56] RichardLitt commented on #69
A page would also work, as well as a banner, if we can get designs for it. @Erioldoesdesign Let me know what either of these would look like.

[2020-04-20 17:17] #59 closed

[2020-04-20 17:18] RichardLitt commented on #59
Thanks! Got it.

[2020-04-20 18:39] RichardLitt commented on #52
@Erioldoesdesign Not sure if just dumbly embedding it is the smartest. I've asked Alison to get me credentials so I can do that, anyway.

[2020-04-20 18:47] Erioldoesdesign commented on #52
@RichardLitt hmmmm embedding eh?...hmmmm I would expect it would embed in a clunky way ala i-frames of ye olde internets.

In an ideal user-facing way I would want something like the airtable being used a data source to populate a better formatted for our site 'table' style. But I would limit it to say...the 5 most recent entries and maybe select certain columns. The idea is we want to drive traff

[2020-04-20 18:59] RichardLitt commented on #52
It sounds [hypothetically possible](https://community.airtable.com/t/view-last-record-only/11687) to make a view of only the most recent additions to the Airtable. I can also probably get these programmatically through the Airtable API. However, this will almost certainly involve a lot of JavaScript, and I don't know if I can do it on the client-side ... Yes, it can probably work.

That certainly

[2020-04-20 19:23] Erioldoesdesign commented on #52
Stretch goal?

Super happy for now there being a good description and a link to the airtable rather than any kind of embedding. Unless there's a really strong argument for an easy embed

[2020-04-20 20:52] RichardLitt commented on #52
Ok. I've added in the events lists on the site in two places, for now.

[2020-04-21 09:07] Erioldoesdesign commented on #69
For big important announcements
<img width="791" alt="Screenshot 2020-04-21 at 10 06 13" src="https://user-images.githubusercontent.com/11681324/79847567-d2604600-83b7-11ea-8d0c-a183b5f2f158.png">
 I would suggest something like this at the top of the webpage: https://xd.adobe.com/view/8e9576cb-18da-4d9f-58b8-7d00d753377f-f8a4/

It's simple but that's good because it's informational and call to ac

[2020-04-21 09:10] Erioldoesdesign commented on #69
Note: this yellow background doesn't overlay the current content, but 'pushes' it down

[2020-04-21 09:13] Erioldoesdesign commented on #68
Do you mean the fact that in the mockup it was blue then pink:
<img width="396" alt="Screenshot 2020-04-21 at 10 15 56" src="https://user-images.githubusercontent.com/11681324/79848573-291a4f80-83b9-11ea-9a3a-c2340ed621d6.png">

instead of pink then blue:
<img width="438" alt="Screenshot 2020-04-21 at 10 16 00" src="https://user-images.githubusercontent.com/11681324/79848581-2ddf0380-83b9-11ea-90e

[2020-04-21 10:53] Erioldoesdesign commented on #62
Agreed re. clutter but perhaps:

<img width="391" alt="Screenshot 2020-04-21 at 11 50 12" src="https://user-images.githubusercontent.com/11681324/79858001-95e81680-83c6-11ea-9ec7-0c6e88944fe0.png">

For the mobile view (eventually even we're prioritising our dev workload) we could do this orientation for all titles to save on vertical space in general.

[2020-04-21 12:25] RichardLitt commented on #69
Thank you! I can implement this rather easily.

[2020-04-21 13:21] awright commented on #69
awesome. thanks!

On Tue, Apr 21, 2020 at 5:25 AM Richard Littauer <notifications@github.com>
wrote:

[2020-04-21 14:58] Erioldoesdesign commented on #53
Soooo I made them as .svg assets: https://drive.google.com/drive/folders/1rakP56NR9x90VVZo0cxufNy90bXHM-Nh?usp=sharing

but also idk I did some css and you could probs make the circles in css: https://codepen.io/Erioldoescode/pen/RwWorPO

I think I'm just trying to convince myself I could write css if I try hard enough. But positioning the hr  made me want to curl into a ball in the corner so I ga

[2020-04-21 15:46] Erioldoesdesign commented on #58
I'm guessing this will be pure text content with text hyperlinks. I can make a design mockup with that in mind but would be good to talk to Shirley Bailes if there's anything else that might be needed.

[2020-04-21 15:48] Erioldoesdesign commented on #60
Smooth scroll would be nice :)

[2020-04-21 16:00] RichardLitt opened #70 "Find a libary to add in a Cookies banner for GDPR"
There should be some automatic way of doing this.

[2020-04-21 16:07] RichardLitt opened #71 "Find a libary to add in a Cookies banner for GDPR"
There should be some automatic way of doing this.

[2020-04-21 17:10] alisonjudy opened #72 "Change wording around cancelled events"
Change from, "We are aggregating all of the cancelled, postponed, or virtual-only conferences affected by coronavirus. Take a look at the events here."

to: "We’re contributing to a database of all of the cancelled, postponed, or virtual-only conferences affected by COVID-19. Take a look at the events here."

Since we're contributing, not curating, it would be great to call out that we're also con

[2020-04-21 22:32] Erioldoesdesign commented on #53
Another web developer in my codebar session helped me fix this and clean it up https://codepen.io/stuartjnelson/pen/OJybOyw

[2020-04-22 14:26] jaysethi commented on #36
Just finished the Blog post reader interface, would appreciate feedback: https://www.figma.com/file/eqiXamWjAerrBr4ajtLf5Z/foss-responders?node-id=26%3A132

[2020-04-22 15:23] RichardLitt commented on #36
Looks good to me, @jaysethi!

What happens if a blog post doesn't have a photo?

@ognarb Look alrigt to you to implement?

[2020-04-22 17:45] alisonjudy opened #73 "Add About Us Page"
Add an 'About Us' or 'About The Team' page to the website. Would like to have:

- (Co)Leads at the top with their photo, org affiliation, links to profiles, and a short bio
- Volunteers below with their photo, org affiliation and links to profiles; listed in alphabetical order based on first or last name

I've created a google form asking for the following information:
- Name
- Org Affiliation
- P

[2020-04-22 22:31] awright opened #74 "Update Photo for hello@fossresponders.com"
i cannot update the photo for the hello@ gmail account. @RichardLitt can you do it? i am thinking this "photo"

![79566570-b05e7f00-80aa-11ea-9476-88284421002a](https://user-images.githubusercontent.com/78410/80040140-4aa93300-84ae-11ea-83a0-23f9b73f50ac.png)

[2020-04-23 09:29] Erioldoesdesign commented on #44
Progress for the 1024x512 templates for the team are located here: https://docs.google.com/presentation/d/1Tx6_4f36vRmwn0mD_RJoYMRt7swv9yzuM7XUH_wEXNM/edit?usp=sharing

Ready for feedback, amends and suggestions!

[2020-04-23 15:12] RichardLitt commented on #74
Done! Thanks, Alyssa.

[2020-04-23 15:12] #74 closed

[2020-04-23 16:42] alisonjudy commented on #44
This looks great! Thank you so much @Erioldoesdesign! Can we add a slide with the color palette?

[2020-04-23 17:32] Erioldoesdesign commented on #44
Cool! Gonna finish up some alt designs for: press releases, apply for help, donate next!

[2020-04-23 17:55] alisonjudy opened #75 "Add Top Navigation Links to Website"
Please add top navigation links/jump links to the website for each section.

Nav links to include:

- Need Help
- Offer Help
- Events
- About Us [Can we do an arrow down or a list so people can go to: who we are (section already built out), new about the team page]
- About our program
- Contact

Thanks!

[2020-04-24 02:49] awelllle commented on #75
hey @alisonjudy! I think I can fix this up. So 6 jump links on top, right?

Then, for 'About Us', a dropdown, that has 2 links? 'who we are' and 'about the team'?

[2020-04-24 02:51] awelllle commented on #72
Can I go ahead and make those changes?

[2020-04-24 03:30] alisonjudy commented on #72
Hi @awelllle, please do. Thanks!

[2020-04-24 03:32] alisonjudy commented on #75
Yes, that would be great @awelllle! The 'About the Team' page still needs to be built out, issue can be found [here](https://github.com/foss-responders/fossresponders.com/issues/73). Thank you!!

[2020-04-24 10:33] Erioldoesdesign commented on #44
These are now Donezo! huzzah! https://docs.google.com/presentation/d/1Tx6_4f36vRmwn0mD_RJoYMRt7swv9yzuM7XUH_wEXNM/edit#slide=id.g74de7c61f7_4_89

[2020-04-24 10:33] #44 closed

[2020-04-24 11:27] awelllle commented on #72
This has been fixed. I think this issue can be closed now. Changes are live.

[2020-04-24 19:00] alisonjudy commented on #72
Thanks @awelllle! Can we change "coronavirus" to "COVID-19" in that text box for continuity? Thank you :)

[2020-04-25 09:46] awelllle commented on #72
Done!

[2020-04-25 11:06] Erioldoesdesign commented on #75
@awelllle I hadn't quite finished designs on this...Can you add a screenshot of what you worked up in code?

[2020-04-25 11:14] awelllle commented on #75
oh, I had no idea. I have a screenshot and a link for you to see the changes

![Screenshot 2020-04-25 at 12 12 20 PM](https://user-images.githubusercontent.com/25726727/80278444-276cc680-86ee-11ea-8bd5-a34b8329e3dd.png)

Here's a link for you to see how it is
https://deploy-preview-76--fossresponders.netlify.app/

If this isn't what you had in mind, I can follow your lead.

[2020-04-25 11:51] Erioldoesdesign commented on #75
Oh this looks great! :) definitely works as a 1st version nav

When we get more dev time I was thinking of adding things like Sticky nav, highlights on current section and adding the brand colours in:
https://xd.adobe.com/view/8e9576cb-18da-4d9f-58b8-7d00d753377f-f8a4/screen/563447da-d7d4-4adc-9739-b8cf99a0687c/Version-4-23-04-2020

https://xd.adobe.com/view/8e9576cb-18da-4d9f-58b8-7d00d753377f-f8

[2020-04-25 13:49] Erioldoesdesign commented on #73
Did a design of this page here: https://xd.adobe.com/view/8e9576cb-18da-4d9f-58b8-7d00d753377f-f8a4/screen/62aa147d-d557-486e-8963-b22ed7883c57/About-page-version-1-25-04-2020

[2020-04-25 13:55] Erioldoesdesign commented on #71
Closing this dupe and keeping #70

[2020-04-25 13:55] #71 closed

[2020-04-25 14:00] Erioldoesdesign commented on #67
In your QA of http://fossresponders.com/

Please include the following details:

**Desktop Hardware Details:**
 - OS: [e.g. iOS]
 - Browser [e.g. chrome, safari]
 - Version [e.g. 22]

**Smartphone Hardware Details (please complete the following information):**
 - Device: [e.g. iPhone6]
 - OS: [e.g. iOS8.1]
 - Browser [e.g. stock browser, safari]
 - Version [e.g. 22]

Bugs in other browsers should

[2020-04-25 14:01] Erioldoesdesign commented on #58
I got access to the Privacy document and I'll make a mockup. I can't think of any styles that would already exists though but I'll do it anyways 🤷‍♀️

[2020-04-25 14:49] awelllle commented on #75
Thanks.

Oh, yeah, those are actually cool! We could definitely do all of that. That nav scroll looks good.

[2020-04-27 17:33] RichardLitt commented on #58
I don't think this needs extensive design. :) I can probably just hack it together with the basic text.

[2020-04-27 18:04] alisonjudy commented on #73
Thanks @Erioldoesdesign! Can we add github link to the main section?

Can we also add a section where it's just the headshots and then name, where they work, then the Linkedin, github, twitter links?

[2020-04-27 19:57] Erioldoesdesign commented on #58
Nice nice nice I can relax 💆‍♀️

[2020-04-27 20:42] Erioldoesdesign commented on #73
@alisonjudy Will put on my to-do list for this week!

[2020-04-27 21:04] alisonjudy commented on #73
Thanks @Erioldoesdesign!

[2020-04-27 23:15] alisonjudy commented on #44
Hi @Erioldoesdesign can we lock that google slide deck so people know to make changes in a copy of the deck and not directly in your deck? Want to make sure we preserve your work!

[2020-04-28 01:27] RichardLitt commented on #67
Hmm. Fair! I was thinking more using automated testing.

[2020-04-28 01:29] RichardLitt opened #78 "Use .jpg instead of .png"
<img width="737" alt="Screen Shot 2020-04-27 at 21 29 33" src="https://user-images.githubusercontent.com/910753/80436902-38742e00-88ce-11ea-99ee-1453c58b2cff.png">

From [Page Speed Insights](https://developers.google.com/speed/pagespeed/insights/?url=fossresponders.com&tab=mobile).

[2020-04-28 08:46] Erioldoesdesign commented on #44
@alisonjudy  Done! locked it down 🔒

[2020-04-28 12:49] RichardLitt commented on #60
This should work off of PR #76.

[2020-04-28 13:25] SaptakS commented on #70
@RichardLitt what if it's implemented without plugin/library like mentioned here: https://jekyllcodex.org/without-plugin/cookie-consent/ Advantage I see is, we can add our own design and CSS

[2020-04-28 13:30] RichardLitt commented on #70
I'm library agnostic. I was just trying to save us time. If you can make it work without it, do so!

[2020-04-29 08:43] Erioldoesdesign commented on #78
Whoever helps with this can find the original files here: https://drive.google.com/drive/folders/185aEK0vOxGMB_773kGdQvPa0CU6dmPIj?usp=sharing

If that helps?

[2020-04-29 09:07] Erioldoesdesign commented on #73
I tried out a layout where the no-bio people were full width but it looked lonely and weird. So I went two-column: https://xd.adobe.com/view/8e9576cb-18da-4d9f-58b8-7d00d753377f-f8a4/screen/62aa147d-d557-486e-8963-b22ed7883c57/About-page-version-1-29-04-2020?fullscreen

For mobile though, they should all be full width stacked on top of each other :)

[2020-04-29 13:44] #72 closed

[2020-04-29 13:44] RichardLitt commented on #72
Thanks, @awelllle and @alisonjudy!

[2020-04-29 16:15] alisonjudy commented on #73
@Erioldoesdesign this looks amazing! Is there a way we can add another line so we can say what committees people are on? Or is that going to be too cluttered? (Feel free to push back :))

[2020-04-29 18:12] SaptakS commented on #36
@jaysethi @RichardLitt @Erioldoesdesign I have some questions in the implementations. It might be repetitive but I couldn't find any mentions, so apologies if I am repeating something.

- So in the design, after the 2 latest posts, there is a section with 3 horizontally placed posts. Are these the next 3 posts chronologically after the latest posts?
- There is a section below the 3 horizontally st

[2020-04-29 18:16] Erioldoesdesign commented on #36
HI FRIEND :) @SaptakS these are definitly questions for @jaysethi as he created these designs but I just wanted to say hello.

[2020-04-29 18:24] Erioldoesdesign commented on #73
@alisonjudy makes perfect sense to include so I've added here: https://xd.adobe.com/view/8e9576cb-18da-4d9f-58b8-7d00d753377f-f8a4/screen/62aa147d-d557-486e-8963-b22ed7883c57/About-page-version-1-29-04-2020?fullscreen

:D

[2020-04-29 19:28] SaptakS commented on #36
@jaysethi Also another point. The blog post images in the latest blog section are considered to be in a portrait format, whereas I am assuming mostly a blog image will be landscape or square given the rest of the sections are assuming that?  I am guessing, in that case, the width and layout will change a bit?

[2020-04-29 19:57] jaysethi commented on #36
hi, these are some valid points and considerations that I will try to implement - I have answers to a couple of the questions/comments you've written, but figma is refusing to cooperate and isn't letting me open the designs - i will get back to you tomorrow morning when figma is hopefully being more helpful.

[2020-04-29 20:17] SaptakS commented on #36
@jaysethi great! No issues!

[2020-04-30 17:58] RichardLitt opened #80 "Twitter card doesn't work."
Please fix it, me. :)

[2020-04-30 21:33] alisonjudy commented on #73
Looks amazing!!! Thank you!!

[2020-05-01 22:21] RichardLitt commented on #75
Done! Thanks, @awelllle.

[2020-05-01 22:21] #75 closed

[2020-05-01 22:34] awelllle commented on #56
The logos of the organisations under 'who we are' right? I should be able to fix it up.
A link to their respective homepages should do, right?

[2020-05-01 23:00] awelllle commented on #80
The one the footer? I clicked and it took me to foss's Twitter

[2020-05-02 00:38] RichardLitt commented on #80
<img width="604" alt="Screen Shot 2020-05-01 at 20 37 42" src="https://user-images.githubusercontent.com/910753/80850776-9fa22300-8beb-11ea-9f91-e6b8595b8a5e.png">

Note the lack of the image. This needs to be set correctly in the header.

[2020-05-02 01:23] #68 closed

[2020-05-02 01:23] RichardLitt commented on #68
Ha! Well, this is fixed now. :)

[2020-05-02 01:56] #69 closed

[2020-05-02 01:57] RichardLitt commented on #56
Yep! Just linking them to their own sites would be great. Wasn't a priority when I was making this, but would be nice to do. :) No styles should change.

[2020-05-02 01:57] RichardLitt commented on #78
It does! Thank you.

[2020-05-02 01:57] RichardLitt commented on #60
Closed in #76.

[2020-05-02 01:57] #60 closed

[2020-05-02 01:58] #70 closed

[2020-05-02 01:58] RichardLitt commented on #70
Thanks, @SaptakS!

[2020-05-02 01:58] RichardLitt commented on #58
Done!

[2020-05-02 01:58] #58 closed

[2020-05-02 01:59] RichardLitt commented on #40
Finally closed.

[2020-05-02 01:59] #40 closed

[2020-05-02 01:59] #33 closed

[2020-05-02 01:59] RichardLitt commented on #63
Duplicate of #29.

[2020-05-02 01:59] #63 closed

[2020-05-02 01:59] #31 closed

[2020-05-02 02:00] #30 closed

[2020-05-02 02:00] RichardLitt commented on #41
Done!

[2020-05-02 02:00] #41 closed

[2020-05-02 02:00] RichardLitt commented on #47
I don't think we're doing this, and I don't think it's a priority.

[2020-05-02 02:00] #47 closed

[2020-05-02 02:03] RichardLitt commented on #54
Duplicate of #32.

[2020-05-02 02:03] #54 closed

[2020-05-02 02:04] RichardLitt commented on #65
Dupe of #78.

[2020-05-02 02:04] #65 closed

[2020-05-02 02:07] RichardLitt commented on #73
This should be an entirely new page, right? I'm confused about the header and where it is supposed to fit, there.

[2020-05-02 02:08] RichardLitt commented on #73
Also, could you give me the assets? :)

[2020-05-02 06:12] alisonjudy commented on #73
Hi @RichardLitt, yes, should be a new page. I also just gave you access to the about me form responses to both the email addresses that I have. Apologies for the late reply!

[2020-05-02 06:12] SaptakS commented on #66
@RichardLitt I will probably add this along with the blog PR #79

[2020-05-02 06:20] SaptakS commented on #67
We can add this to the Github issue templates.

Maybe we can add some CI and integrate browserstack with it?

[2020-05-02 06:40] SaptakS commented on #80
Weirdly enough, the twitter card validator actually shows the preview correctly: https://cards-dev.twitter.com/validator I am just wondering if it is because we are showing favicon image (which is super small)

[2020-05-02 12:35] #80 closed

[2020-05-02 12:36] RichardLitt commented on #80
Good catch. This should be fixed now. :)

[2020-05-02 12:37] RichardLitt commented on #67
That was my goal. I don't think issue templates make sense for our amount of traffic at the moment.

[2020-05-02 12:38] RichardLitt commented on #36
@jaysethi Just checking in. Any word on this? :)

[2020-05-02 15:50] jaysethi commented on #36
Hello, yes:
1. I have changed the arrangement - now the top 2 posts (can be up to 4) are featured, then horizontal posts are latest (chronologically)
2. The big post is a featured post too yes.
3. yes
4. When there is only one post (up to 4) it then appears where featured posts are right now.
5. the categories and authors become a drop-down menu (like the one shown in the Canceled Conferences scre

[2020-05-02 16:11] SaptakS commented on #36
What if there is no featured? Does the page start from the horizonatal posts? What I have right now is this: https://deploy-preview-79--fossresponders.netlify.app/blog/ where the latest 2 are shown like that, and then the remaining blogs are shown in a 3 column grid. And this is the category page: https://deploy-preview-79--fossresponders.netlify.app/category/cancelled_conference/

In all pages?

[2020-05-02 16:23] jaysethi commented on #36
I figured there always would be featured, no? Use the vertical stack for latest posts (along with horizontal stack) when there are no featured posts.
yes, in all pages.
also, please implement the breadcrumbs nav on the blog pages, and please make the top left icon clickable to go to the home page.

[2020-05-02 16:35] SaptakS commented on #36
@jaysethi One last thing. Can you give me a design for the dropdown expanded?

[2020-05-03 07:52] SaptakS opened #84 "Address target=_blank vulnerability"
We are using `target=_blank` in many places throughout the website for opening links pointing to different websites. `target=_blank` has a [vulnerability](https://mathiasbynens.github.io/rel-noopener/).

We need to add `rel="noopener noreferrer"` for all `target=_blank` link.

I will send a PR for the same.

[2020-05-04 15:47] Erioldoesdesign commented on #73
@alisonjudy It's probably best that I create the profile images once we've had all our submissions from the team via the form.

[2020-05-04 16:47] alisonjudy commented on #73
@Erioldoesdesign sounds good! I'll give you access to the file with all the form responses/images.

[2020-05-04 18:19] #84 closed

[2020-05-04 18:20] RichardLitt commented on #84
Good catch. I didn't know about this. Thanks!

[2020-05-05 11:31] Erioldoesdesign commented on #73
bg lines image and profile pics here: https://drive.google.com/drive/folders/1NAH1TqsFodkTFjuU-g03mdfXlz1Hc3rS?usp=sharing

[2020-05-05 22:02] alisonjudy commented on #73
Thanks @Erioldoesdesign! They look fab!

[2020-05-07 13:25] #36 closed

[2020-05-07 13:31] RichardLitt commented on #32
This gone done been done by @SaptakS.

[2020-05-07 13:31] #32 closed

[2020-05-07 13:32] RichardLitt opened #86 "Make footer sticky"
For small pages, like the blog pages.

[2020-05-07 17:17] RichardLitt opened #88 "Privacy Policy changed due to blog css"
Looks like the style for the Policy Policy header has been changed.

https://fossresponders.com/privacy/

[2020-05-07 17:25] nuritzi opened #89 "Update GitLab link on website"
Can we please update the link to GitLab in the Who We Are section to this: https://about.gitlab.com/

The current link goes directly to the GItLab.com product repos, not the customer-facing website with info about what GitLab is.

Thanks in advance!

cc/ @RichardLitt

[2020-05-07 22:38] #88 closed

[2020-05-08 14:07] #89 closed

[2020-05-08 14:07] RichardLitt commented on #89
Done! :)

[2020-05-09 19:52] awelllle commented on #61
Let me take this up

[2020-05-09 20:57] RichardLitt commented on #61
@awelllle Sure thing! Thank you!

[2020-05-11 12:20] RichardLitt commented on #53
Oh, wow! That's so cool that you could make it work in CSS! Awesome!

[2020-05-12 23:15] ceresstation opened #94 "Add GitHub logo to "Who We Are" section"
When possible it'd be great to add the first logo on [this GitHub page](https://github.com/logos) to the "Who We Are" section to reflect GitHub's participation in the group and in our May 22nd event.

[2020-05-12 23:17] spm32 commented on #94
cc and thanks to @SaptakS who has agreed to find a bit of time to submit a PR tomorrow, much appreciated!

[2020-05-13 13:03] Erioldoesdesign opened #96 "Hover on yellow/green buttons doesn't pass WCAG. Change to our default black for text/arrow icon"
In PR #95 the hover colour on buttons for text/arrow icon is the same colour as the button bg/outline e.g.

Non-hover = Yellow bg with white text and arrow icon
Hover  = Yellow outline with yellow text and arrow icon.

For the #FFDD57 (yellow) and #7BC9AC (green) colours the text and arrow icon when hovering should be #000000 (black) as this then passes colour contrast accessibility :)

Screenshot

[2020-05-14 06:31] #94 closed

[2020-05-14 06:40] DuaneOBrien opened #99 "Logos overlap when div id "logos" is 720px wide"
When viewing the Logos section of fossresponders.com and resizing the window, the logos appear overlapped when div id "logos" is 720px wide.

Attaching screenshots.

540px wide
![540-wide](https://user-images.githubusercontent.com/4315550/81901169-f0623600-9572-11ea-8933-5550c6708b78.png)

720px wide
![720-wide](https://user-images.githubusercontent.com/4315550/81901192-f7894400-9572-11ea-86c3-098

[2020-05-14 07:32] SaptakS commented on #99
@DuaneOBrien Thanks for opening this. I will look into it in some time.

[2020-05-16 01:33] awelllle commented on #96
I'll finish this up

[2020-05-19 18:16] RichardLitt commented on #99
Thank you!

[2020-05-19 18:17] RichardLitt commented on #99
Merged and fixed.

[2020-05-19 18:17] #99 closed

[2020-05-19 18:37] Erioldoesdesign opened #101 "Main pages updates: Our mission section"
So quite a few things have changed on the website designs that didn't get captured here. I'm breaking them into a few issues.

Most up to date page mock-up:
https://xd.adobe.com/view/8e9576cb-18da-4d9f-58b8-7d00d753377f-f8a4/screen/563447da-d7d4-4adc-9739-b8cf99a0687c/Version-4-23-04-2020?fullscreen

This issue is for this section 'Our mission':
<img width="670" alt="Screenshot 2020-05-19 at 19 30

[2020-05-19 18:41] Erioldoesdesign opened #102 "Add Alyssa's headshot to about page"
Alyssa's headshot is located here:https://drive.google.com/open?id=1tYeFR8ooN1kLPjdIwHLduZvN1H6RQE94

ready to be added to: https://fossresponders.com/about/

[2020-05-19 18:44] SaptakS commented on #101
On it!

[2020-05-19 18:44] DuaneOBrien opened #103 "Add Sentry Logo"
Need to add Sentry as a supporter in the Who We Are section. Will open a PR shortly.

[2020-05-19 18:45] RichardLitt commented on #103
Thanks, @DuaneOBrien!

[2020-05-19 18:46] #102 closed

[2020-05-19 18:46] Erioldoesdesign opened #104 "Main pages updates: New section 'Who we are'"
So quite a few things have changed on the website designs that didn't get captured here. I'm breaking them into a few issues.

Most up to date page mock-up:
https://xd.adobe.com/view/8e9576cb-18da-4d9f-58b8-7d00d753377f-f8a4/screen/563447da-d7d4-4adc-9739-b8cf99a0687c/Version-4-23-04-2020?fullscreen

This issue is for this section 'Who we are' which is a new section:

<img width="674" alt="Screens

[2020-05-19 18:46] RichardLitt commented on #102
Done. Thanks.

[2020-05-19 18:47] Erioldoesdesign commented on #104
@alisonjudy @awright I'm not sure if you'd like more copy in the written part of this section?

[2020-05-19 18:49] Erioldoesdesign commented on #101
@SaptakS I'm just waiting on final confirmation that the supporter logos move to the about page. So until we hear a yes/no that part stays.

[2020-05-19 19:01] Erioldoesdesign opened #105 "Main pages updates: Blog section"
So quite a few things have changed on the website designs that didn't get captured here. I'm breaking them into a few issues.

Most up to date page mock-up:
https://xd.adobe.com/view/8e9576cb-18da-4d9f-58b8-7d00d753377f-f8a4/screen/563447da-d7d4-4adc-9739-b8cf99a0687c/Version-4-23-04-2020?fullscreen

This issue is for this section 'Blog':
<img width="610" alt="Screenshot 2020-05-19 at 19 55 32" sr

[2020-05-19 19:08] Erioldoesdesign opened #106 "Footer links"
Looks like the links that are/will be missing are:

'our mission' (changed from older who we are section #101 )

'who we are' (added in #104 )

'events' (already existing)

[2020-05-19 19:08] Erioldoesdesign commented on #106
Blocked by #101 and #104

[2020-05-19 19:10] Erioldoesdesign commented on #37
Looks like this one has fallen through the net. @jaysethi were you working on this design? if not I can work on it :)

[2020-05-19 19:23] jaysethi commented on #37
Hi yes please go ahead, I'm sorry things have been really crazy lately.

[2020-05-19 19:25] Erioldoesdesign opened #107 "Top nav improvements"
So the current global nav is awesome, but we could make it even more awesome 😄

<img width="687" alt="Screenshot 2020-05-19 at 20 19 55" src="https://user-images.githubusercontent.com/11681324/82368940-2178b580-9a0e-11ea-9cbd-361e0fe315c6.png">

When a user is at the top of the fossresponders page, the nav has an underline in brand blue #58B2E4 5px high.

As the user scrolls, the top nav is sticky

[2020-05-19 19:54] awright commented on #102
THANKS! ;)

On Tue, May 19, 2020 at 11:47 AM Richard Littauer <notifications@github.com>
wrote:

[2020-05-19 20:36] awright commented on #104
Yeah... we probably should write something more in depth. How about
something like this? (please edit with any wordsmithing)

FOSS Responders came together to support and celebrate our Free and Open
Source Community affected by the COVID19 economic fall out. Learn more
about how you can help. And come join us!

On Tue, May 19, 2020 at 11:47 AM Eriol Fox <notifications@github.com> wrote:

[2020-05-19 20:43] #103 closed

[2020-05-19 20:52] alisonjudy commented on #104
**edit (since this is the call out to get people to the about us page):**
FOSS Responders is a group of individuals who came together to support and celebrate our Free and Open Source Community affected by the COVID-19 economic fallout. Learn more
about us!

**Then on the about us page we can post @awright's version:**
FOSS Responders came together to support and celebrate our Free and Open
Source

[2020-05-20 14:17] #101 closed

[2020-05-20 14:18] RichardLitt commented on #104
Updated and pushed! I think we got this covered. Not sure we have a way for people to get involved at the moment; but also not sure we need that?

[2020-05-20 14:18] #104 closed

[2020-05-20 14:21] RichardLitt commented on #106
I added these in, but now it looks pretty cluttered. Ideas?

[2020-05-20 14:27] RichardLitt commented on #37
No need to apologize. A lot of us are in that boat. :) Stay well.

[2020-05-20 15:11] Erioldoesdesign commented on #106
I got it all on one line by fiddling around with the font size (16 t0 15) renaming 'About our programs' to 'Our Programs' and changing the flex (?) in the spacing of the columns.

Ended up with this:

![Screenshot 2020-05-20 at 16 11 41](https://user-images.githubusercontent.com/11681324/82463335-9ef70100-9ab4-11ea-9780-1613e7298f44.png)

[2020-05-21 15:33] #96 closed

[2020-05-21 15:33] RichardLitt commented on #96
Thank you, @awelllle!

[2020-05-21 20:23] alisonjudy opened #111 "Add Pre-Event Blog Post to website"
Please add a blog post to the website. Thanks!

[2020-05-21 22:13] DuaneOBrien opened #112 "Add logo for the Ethereum Foundation"
We need to add the Ethereum Foundation's logo to the site.

PR incoming.

[2020-05-21 22:13] DuaneOBrien opened #113 "Add logo for DigitalOcean"
We need to add DigitalOcean's logo to the site.

PR Incoming.

[2020-05-22 15:53] RichardLitt opened #115 "Job links on About page go nowhere"
And they should! https://fossresponders.com/about/

[2020-05-22 15:53] #112 closed

[2020-05-22 15:53] #113 closed

[2020-05-22 15:54] RichardLitt commented on #111
Which blog post? :*(

[2020-05-22 17:08] #111 closed

[2020-05-26 21:17] RichardLitt commented on #106
Done.

[2020-05-26 21:17] #106 closed

[2020-06-23 13:49] Erioldoesdesign opened #119 "Blog images display squished"
![Screenshot 2020-06-23 at 14 25 31](https://user-images.githubusercontent.com/11681324/85409970-6be5d880-b55e-11ea-9688-2e2afb56107f.png)

![Screenshot 2020-06-23 at 14 25 34](https://user-images.githubusercontent.com/11681324/85409971-6daf9c00-b55e-11ea-8447-1106694d9386.png)

https://fossresponders.com/blog/

It looks like the images that are used alongside the blog posts get squished in a stra

[2020-06-23 13:51] Erioldoesdesign opened #120 "A 'orphaned' post at the bottom of the blog page"
![Screenshot 2020-06-23 at 14 25 49](https://user-images.githubusercontent.com/11681324/85411921-e4e62f80-b560-11ea-8647-f188f76e00f0.png)

When you scroll to the bottom of the blog page you see the above. The text or logo/image isn't clickable and I'm not sure what it's in reference to or why its there :(

https://fossresponders.com/blog/events/join-us-at-uplift-by-foss-responders/

[2020-06-23 14:29] SaptakS commented on #119
Interesting. Seems it gets stretched in chrome while in firefox, the height is auto and is not stretched

This is what I see in 800 px screen resolution in firefox:
![image](https://user-images.githubusercontent.com/9530293/85415781-5aff8c00-b58b-11ea-85fe-1657ead3cfed.png)

This is what I see in my 2k monitor resolutions in firefox:
![image](https://user-images.githubusercontent.com/9530293/85415

[2020-06-23 14:32] SaptakS commented on #120
So any blog posts after the two latest post goes to that section. The link missing is probably a mistake on my part. I guess I missed adding a link. I will send a PR fixing that.

[2020-06-24 08:45] Erioldoesdesign opened #122 "Global navigation on blog page"
https://fossresponders.com/blog/

The blog page currently uses breadcrumbs instead of the global navigation.

Can we add the global navigation to all blog pages but also, keep the breadcrumb.

So it'd look like this mockup:
![Blog with nav ticket #](https://user-images.githubusercontent.com/11681324/85523845-642a4080-b5ff-11ea-9d28-18f7f86df4c4.png)

[2020-06-24 19:56] #119 closed

[2020-07-07 16:47] alisonjudy opened #123 "Make the Discourse page more visible on the webpage"
Make the discourse page more findable on the webpage

[2020-08-07 15:46] Ruth-ikegah commented on #78
I will love to work on this issue but please I need a little explanation. Is this issue relating converting the images on the drive from .png to .jpg, then replacing it with the pictures on the images folder on the repository @RichardLitt

[2020-08-07 16:00] RichardLitt commented on #78
Thanks, @Ruth-ikegah. Due to the project wind-down, I don't think that this needs to be done, at this time.

[2020-08-07 16:07] Ruth-ikegah commented on #78
okay thanks @RichardLitt , if there is any other way I could help, please kindly point it my way, beginner open-source contributor here!

[2020-08-07 16:30] RichardLitt commented on #78
Thanks, @Ruth-ikegah! https://www.firsttimersonly.com/ may help a bit more.

FOSS Responders, though, is largely holding off on more code work, for now, until we need to ramp up again. More messaging on this is coming soon. Mentoring at the moment isn't a high priority for me on this project, though, as it's simply not going to be used much.

[2020-08-08 14:32] Ruth-ikegah commented on #78
Thanks

[2020-11-17 19:04] RichardLitt commented on #123
Stale. Thank you, @alisonjudy. Feel free to reopen if you feel it is necessary.

[2020-11-17 19:04] #123 closed

[2020-11-17 19:04] RichardLitt commented on #122
Stale. Thank you, @Erioldoesdesign. Feel free to reopen if you feel it is necessary.

[2020-11-17 19:04] #122 closed

[2020-11-17 19:05] RichardLitt commented on #120
Can't replicate. I think this is closed.

[2020-11-17 19:05] #120 closed

[2020-11-17 19:08] #115 closed

[2020-11-17 19:08] RichardLitt commented on #107
Stale. Thank you, @Erioldoesdesign. Feel free to reopen if you feel it is necessary.

[2020-11-17 19:08] #107 closed

[2020-11-17 19:09] RichardLitt commented on #105
Stale. Thank you, @Erioldoesdesign. Feel free to reopen if you feel it is necessary.

[2020-11-17 19:09] #105 closed

[2020-11-17 19:10] RichardLitt commented on #86
Stale. Feel free to reopen if you feel it is necessary.

[2020-11-17 19:10] #86 closed

[2020-11-17 19:10] RichardLitt commented on #78
Stale. Feel free to reopen if you feel it is necessary.

[2020-11-17 19:10] #78 closed

[2020-11-17 19:10] RichardLitt commented on #73
This is live.

[2020-11-17 19:10] #73 closed

[2020-11-17 19:11] #57 closed

[2020-11-17 19:11] #67 closed

[2020-11-17 19:11] RichardLitt commented on #66
Stale. Feel free to reopen if you feel it is necessary.

[2020-11-17 19:11] #66 closed

[2020-11-17 19:11] #64 closed

[2020-11-17 19:11] RichardLitt commented on #62
Stale. Feel free to reopen if you feel it is necessary. Thanks, @Erioldoesdesign.

[2020-11-17 19:11] #62 closed

[2020-11-17 19:12] RichardLitt commented on #61
I think this is done.

[2020-11-17 19:12] #61 closed

[2020-11-17 19:13] RichardLitt commented on #37
Stale. Thanks, all.

[2020-11-17 19:13] #37 closed

[2020-11-17 19:13] RichardLitt commented on #53
I think this is done?

[2020-11-17 19:13] #53 closed

[2020-11-17 19:13] #56 closed

[2020-11-17 19:13] #52 closed

[2020-11-17 19:14] RichardLitt commented on #55
Thanks, @Erioldoesdesign. Stale, though, closing this now.

[2020-11-17 19:14] #55 closed

[2020-11-17 19:14] RichardLitt commented on #5
Stale.

[2020-11-17 19:14] #5 closed

[2020-11-17 19:14] #29 closed

[2020-11-17 19:14] RichardLitt commented on #35
Yeahhhh stale.

[2020-11-17 19:14] #35 closed

[2020-11-17 19:14] #6 closed

[2020-11-17 19:14] #26 closed